name: Validate Model Configs

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  validate:
    name: Validate YAML files
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install CUE
        uses: cue-lang/setup-cue@v1.0.1

      - name: Run validation
        run: ./test/validate.sh
